html {
    overflow-y: scroll;
  }

  .logo {
    position: relative;
    cursor: pointer;
    transition: transform 200ms;
    overflow: visible;
  }
  
  .logo:hover {
    transform: scale(0.9);
  }
  
  .logo::before {
    content: "";
    display: inline-block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    height: 30px;
    width: 30px;
    opacity: 0;
    background: linear-gradient(#805AD5, #1A202C);
    border-radius: 50%;
    transition: all 250ms;
  }
  
  .logo:hover::before {
    height: 60px;
    width: 60px;
    opacity: 1;
    transition: all 250ms;
  }
  
  .logo::after {
    content: "";
    display: inline-block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    height: 40px;
    width: 40px;
    opacity: 0;
    border-width: thin;
    border: 1px #805AD5;
    border-style: dashed;
    border-radius: 50%;
    transition: all 250ms;
  }
  
  .logo:hover::after {
    height: 80px;
    width: 80px;
    opacity: 1;
    transition: 250ms;
    animation: spin 10s infinite linear;
  }
  
  @keyframes spin {
    from {
      transform: translate(-50%, -50%) rotate(0deg);
    }
    to {
      transform: translate(-50%, -50%) rotate(360deg);
    }
  }